.hex {
  height: 100px;
  width: 100px;
  background: purple;
  border: 1px solid white;
  position: absolute;
  backface-visibility: visible;
  transition: transform 0.0166s, opacity 1s;
  transform: translate(3px, 5px, 10px);
}
